[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "==1.4.41"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
alembic = "*"
sqlmodel = "*"
psycopg2 = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
motor = "*"

[dev-packages]

[requires]
python_version = "3.8"
